:root {
    --red: #eb2c0b;
    --white: #fafafa;
    --pink: #f9c6c0;
    --blue: #0a2e4a;
    --blue-dark: #001529;
    --yellow: #ff9e18;
    --orange: #ff4713;
}

@media (max-width: 992px) {
    
}


@media (max-width: 576px) {
    header {
        padding: 0 30px;
    }

    .header-menu {
        gap: 30px;
    }
    .menu-label {
        display: flex;
        font-size: 25px;
    }

    .navbar {
        gap: 30px;
      }
    
      .navbar-list {
        position: absolute;
        top: 80px;
        left: 0;
        width: 80%;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--blue-dark);
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
        height: 100vh;
}
    
      .navbar-list a {
        font-size: 18px;
      }

    #menu-toggle:checked + .navbar-list {
        display: flex;
    }

    .hero {
        flex-direction: column;
    }

    .hero img {
        width: 100%;
    }

    .about  {
        flex-direction: column-reverse;
        padding: 40px 0 0 0;
        gap: 40px;
    }

    .about-info {
        align-items: center;
        text-align: center;
    }

    .about-info h2 {
        line-height: 40px;
        font-size: 40px;
    }

    .about img {
        width: 100%;
    }

    .about-info img {
        width: 30%;
    }

    .categories {
       display: none ;
    }

    .menu {
        padding: 40px 10px;
    }
    .menu-title {
        text-align: center;
        line-height: 25px;
        font-size: 20px;
    }
    .menu-products {
        flex-direction: column;
    }

    .product-info {
        gap: 10px;
        padding: 15px;
    }

    .product {
        width: 100%;
    }

    .product h2 {
        font-size: 16px;
        line-height: 16px;

    }

    .product p {
        font-size: 12px;
        line-height: 12px;

    }
    
    .product span {
        font-size: 25px;
    }

    .benefits {
        flex-direction: column;
        width: 100%;
    }

    .benefits-img, .benefits-info {
        width: 100%;
    }

    .benefits-info {
        padding: 30px;
    }

    .benefits-buttons {
        flex-direction: column;
        gap: 5px;
    }

    .maps-container {
    width: 100%;
    }
    .ubication-info {
        flex-direction: column;
    }
    
    footer {
        gap: 10px;
        justify-content: space-between ;
        padding: 10px 30px;
    }

    footer span {
        font-size: 10px;
    }
}   