:root {
    --red: #eb2c0b;
    --white: #fafafa;
    --pink: #f9c6c0;
    --blue: #0a2e4a;
    --blue-dark: #001529;
    --yellow: #ff9e18;
    --orange: #ff4713;
    --box-shadow-total: 0px -20px 100px 100px var(--orange);
    --box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.5);
    --text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

/* OBVIOUSLY FONT */
@font-face {
    font-family: 'Obviously';
    src: url(../../assets/fonts/Obviously/Obviously-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously';
    src: url(../../assets/fonts/Obviously/Obviously-Light.ttf);
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously';
    src: url(../../assets/fonts/Obviously/Obviously-Regular.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously';
    src: url(../../assets/fonts/Obviously/Obviously-Medium.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously';
    src: url(../../assets/fonts/Obviously/Obviously-Semibold.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously';
    src: url(../../assets/fonts/Obviously/Obviously-Bold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously';
    src: url(../../assets/fonts/Obviously/Obviously-Black.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously';
    src: url(../../assets/fonts/Obviously/Obviously-Super.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously-Narrow';
    src: url(../../assets/fonts/Obviously-Narrow/Obviously-Narrow-Semibold.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously-Narrow';
    src: url(../../assets/fonts/Obviously-Narrow/Obviously-Narrow-Bold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously-Narrow';
    src: url(../../assets/fonts/Obviously-Narrow/Obviously-Narrow-Black.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Obviously-Narrow';
    src: url(../../assets/fonts/Obviously-Narrow/Obviously-Narrow-Super.ttf);
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Obviously';
}

/* Class: Colors */
.blue-dark {
    color: var(--blue-dark);
}

/*  Titulos */
h1 {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    font-family: 'Obviously';
}

h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Obviously';
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Obviously-Narrow';
    color: var(--white);
}

h5 {
    font-weight: 700;
    line-height: 18px;
    font-family: 'Obviously';
    font-size: 18px;
}

h6 {
    font-weight: 700;
    line-height: 16px;
    font-family: 'Obviously';
    font-size: 16px;
}

/* Buttons */
.btn {
    text-align: center;
    border-radius: 50px;
    padding: 8px 20px;
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
}

.btn-orange {
    background-color: var(--orange);
    border: 1px solid var(--orange);
}

.btn-blue {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}


p {
    font-weight: 200;
    font-size: 14px;
    color: var(--white);
    text-align: center;
}

i.icon-menu {
    display: none;
}

.header-top,
header,
.navbar,
.navbar-list,
.navbar-icons {
    display: flex;
}

.header-top {
    height: 40px;
    background-color: var(--blue);
    align-items: center;
    padding: 0 50px;
    gap: 20px;
    justify-content: end;
}

.header-top .icons {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;
    color: var(--white);
}

.header-top .icons .icon {
    color: var(--pink);
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar {
    background-color: var(--blue-dark);
    color: var(--white);
    height: 80px;
    width: 100%;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in-out;
}

.navbar-menu {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-crocken {
    height: 50%;
    cursor: pointer;
}

.navbar-list {
    gap: 20px;
}

.link {
    color: var(--white);
    font-weight: 200;
}

.link.active {
    font-weight: 400;
}

.navbar-icons {
    align-items: center;
    gap: 30px;
}

.icon-user {
    color: var(--white);
    cursor: pointer;
}

.cart-icon {
    position: relative;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    text-align: center;
    top: -5px;
    left: 10px;
    font-size: 10px;
    background-color: var(--orange);
    border-radius: 100%;
    font-size: 8px;
    padding: 2px 6px;
}

.navbar-responsive {
    display: none;
}

/* Cart */
.cart {
    height: 100vh;
    width: 40%;
    background-color: var(--orange);
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: scroll;
    transform: translateX(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/*OCULTAR BARRA DE SCROLL DEL CARRITO*/
.cart::-webkit-scrollbar {
    display: none;
}

/*Toggle del carro*/
.open-cart {
    transform: translateX(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.cart-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    gap: 15px;
    height: 80px;
    padding: 0 30px;
    background-color: var(--blue-dark);
    position: sticky;
    top: 0
}

.cart-title-container img{
    width: 40px;
}

.cart-title-container i{
    color: var(--white);
    font-size: 25px;
    cursor: pointer;
}

.cart-crocken {
    width: 10%;
}

.cart-title {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cart-title h3 {
    font-family: 'Obviously-Narrow';
    font-size: 22px;
}

.cart-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 250px);
    gap: 20px;
    padding: 30px 20px;
    overflow-y: scroll;
}

.cart-container :last-child {
    z-index: 99;
}

.cart-item {
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    color: var(--blue-dark);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(0, 0 , 0, 0.5);
}

.item-img {
    height: 100%;
    width: 40%;
    border-radius: 10px;
}

.item-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px 0 0 20px;
}

.item-info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    justify-content: space-between;
}

.item-info-text {
    display: flex;
    flex-direction: column;
}

.item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
    color: var(--blue-dark);
}

.item-description {
    font-size: 10px;
    font-weight: 300;
}

.item-trash, .item-edit {
    color: var(--red);
}

.item-price {
    color: var(--orange);
    font-size: 18px;
    font-weight: 600;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.item-quantity {
    font-weight: 300;
    padding: 0 10px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    border: 1px solid var(--blue-dark);
    color: var(--blue-dark);
    font-weight: 200;
}

#cart .divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--white);
}


.cart-total {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px 20px 0 20px;
    height: 170px;
    color: var(--white);
    background-color: var(--blue-dark);
}

.total-price {
    display: flex;
    align-items: center;
    gap: 20px;    color: var(--white);

}

.cart-total h4 {
    font-weight: 300;
}

.cart-total span {
    font-weight: 600;
}

#cart .btn-buy {
    border-radius: 100px;
    border: none;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    background-color: var(--orange);
    color: var(--white);
}
body {
    overflow-x: hidden;
}

/* Main */
main {
    width: 100%;
    display: flex;
    flex-direction: column;    
    
}

main section {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hero */
#hero {
    height: calc(100vh - 120px);
}

.hero {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.hero-img {
    width: 50%;
    object-fit: cover;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-title{
    color: var(--white);
}

.hero-info span{
    color: var(--blue-dark);
    line-height: 50px;
    font-size: 50px;

}

.hero-buttons {
    display: flex;
    gap: 10px;
}

.hero-button {
    color: var(--white);
    font-size: 12px;
    font-weight: 300;
    background-color: var(--blue-dark);
    padding: 10px 15px;
    border-radius: 20px;
}

.hero-button:hover {
    transition: all 4s ease-in;
    animation: changeBgBlue 4s ease-in infinite;
}

.button-no {
    background-color: var(--blue);
}

.button-yes:hover {
    transition: all 4s ease-in;
    animation: changeBgBlue2 4s ease-in infinite;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* Seccion Productos */
#products {
    background-color: var(--blue-dark);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.splide-products {
    width: 100%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    padding: 0 60px;
}

.splide-products .splide__arrow {
    background-color: transparent;    
}

.splide-products .splide__arrow svg {
    fill: var(--white);
    width: 50px;
    height: 50px;
}

.product {
    width: 100%;
    height: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start; 
    background-color: var(--white);
    color: var(--blue-dark);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0 , 0, 0.5);
    cursor: pointer;
    overflow: hidden;
}

.product-img {
    width: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.product-img img{
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.product-img p {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    overflow-wrap: break-word;
    bottom: 10px;
    top: 0;
    background-color: var(--orange);
    color: var(--white);
    display: none;
    text-align: start;
    font-weight: 300;
}

.product-img::before  {
    position: absolute;
    content: '';
    background-color: #001529;
    top: 0;
    left: 0;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 15px 15px 15px;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.product-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    overflow-wrap: break-word;

}

.product-title .new {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--red);
}

.product-title .title {
    font-size: 20px;
    line-height: 20px;
    color: var(--blue-dark);
}

.product-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    width: 100%;
}

.product-price, 
.product-add {
    width: 50%;
}

.product-price {
    color: var(--orange);
    font-weight: 700;
    font-size: 22px;
}

.product-add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-transform: capitalize
}

.product-view:hover {
    color: var(--white);
    background-color: var(--orange);
}

/* Categories */
#categories {
    background-color: var(--blue-dark);
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.categories-title {
    color: var(--white);
    text-shadow: 5px 5px 15px rgba(0, 0 , 0, 0.5);
}

.categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    gap: 15px;
    background-color: var(--blue-dark)
}

.categories-category {
    position: relative;
    display: flex;
    height: 110px;
    width: 370px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0 , 0, 0.5);
    cursor: pointer;
    text-align: center;
    background-color: #000;
}

.categories-category img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    opacity: .6;
}

.category-title {
    font-family: 'Obviously-Narrow';
    position: absolute;
    font-size: 22px;
    padding: 0 20px;
    line-height: 22px;
    font-weight: 700;
    color: var(--white);
    text-shadow: 5px 5px 15px rgba(0, 0 , 0, 0.8);
}

/* Ubication */
#delivery {
    background-color: var(--orange);
}

.delivery {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.ubication {
    display: flex;
    gap: 40px;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.hours  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    text-align: start;
}

.hours .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}

.item h3 {
    color: var(--blue-dark);
}

.item p {
    font-weight: 300;
    text-align: start;
}

.map {
    background-color: var(--blue-dark);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.map iframe {
    border-radius: 40px;
}

/* Benefits */
#benefits {
    padding: 0;
}

.benefits {
    display: flex;
}

.benefits-img {
    width: 50%;
}

.benefits-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.benefits-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: var(--orange);
    justify-content: center;
    padding: 50px;
    gap: 30px;
    align-items: start;
}

.benefits-info h2 {
    text-align: start;
}

.benefits-info p {
    text-align: start;
}

.benefits-list {
    list-style-type: square;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.benefits-list li {
    color: var(--white);
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 16px;
    font-size: 16px;
    font-weight: 300;
}

.benefits-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

footer {
    display: flex;
    background-color: var(--blue-dark);
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
}

footer img {
    height: 50px;
}

.copyright span{
    font-weight: 200;
}

.footer-icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
}